@import url('https://fonts.googleapis.com/css?family=Sarabun:200,400,700');

html,
body {
    margin: 0;
    background-color: rgb(35, 48, 66);
    color: #f6f7f9; /* LIGHT_GRAY5 */
    font-weight: 200;
    line-height: 1.4;
}

body #__next {
    font-size: 13pt;
}

body,
* {
    font-family: 'Sarabun', sans-serif;
}

a,
a:visited {
    color: #137cbd; /*ColorScheme.primary*/
}

.bp4-dark a,
.bp4-dark a:visited {
    color: #8abbff; /*BLUE5*/
}

#__next .mapboxgl-control-container a,
#__next .mapboxgl-control-container a:visited {
    color: #1C2127; /*DARK_GRAY1*/
}

#__next .mapboxgl-ctrl-bottom-left {
    bottom: -5px;
    right: 5px;
    left: unset;
}

#__next .mapboxgl-compact {
    display: none;
}

#__next .mapbox-improve-map {
    display: none;
}

#__next .mapboxgl-ctrl-bottom-right {
    right: 95px;
    bottom: 3px;
}

section {
    margin-bottom: 4em;
}

#no-token-warning {
    bottom: 30px;
    top: unset;
    left: 10px;
}

.bp4-toast-container.bp4-toast-container-inline {
    position: fixed;
}
